*{
	margin:0;
	padding:0;
}

.big_container{
	width:100%;
	height:auto;
	float:left;
	}

.menu2{
	width:100%;
	margin-left:0%;
	height:auto;
	text-align:center;
	float:left;
	margin-top:0px;
	}

.heading{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	font-weight:bolder;
	color:#C00;
	margin-top:50px;
	margin-bottom:50px;
	}
	
.txt_container{
	width:100%;
	height:auto;
	float:left;
	margin-top:50px;
	}

.heading1{
	width:50%;
	height:auto;
	color:#000;
	font-weight:bolder;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	margin-top:10px;
	margin-left:3%;
	}	

.img_box{
	width:10%;
	height:100px;
	margin-right:22%;
	float:right;
	background-color:#000;
	}
	
.txt{
	width:95%;
	margin-left:2.5%;
	float:left;
	margin-top:20px;
	color:#000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-align:left;
	line-height:17px;
	}		